* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

html,
body,
#root {
  height: 100%;
  overflow: auto;
}

body {
  -webkit-font-smoothing: antialiased;
}

body,
input,
button {
  font: 14px "Rubik", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

@media only screen and (max-width: 1440px) {
  html,
  body,
  #root {
    overflow: hidden;
  }
}
